.introduction {
    background-color: #fff;
    display: flex;
    padding: 100px 100px;
    gap: 30px;

    .intro {
        flex: 1;
        display: flex;
        gap: 8px;

        img {
            width: 120px;
            height: 120px;
            margin: 20px;
        }

        p {
            font-weight: bold;
            font-size: 20px;
            line-height: 33px;
            display: block;
            width: 100%;

            span {
                display: block;
                font-weight: normal;
                font-size: 17px;
                margin-top: 13px;

            }
        }
    }
}