.main_weather {
    font-family: 'EB Garamond', serif;
    margin-top: 60px;
    background: url(../../images/yard1.png) no-repeat center center;
    background-size: cover;
    background-position: 0 200px ;
    height: 96vh;
    position: relative;

    .logo_area {
        background-color: #e5f6fc;
        height: 250px;
        width: 100%;
        display: grid;
        place-content: center;
        position: relative;


        .cloud {
            position: absolute;
            width: 700px;
            left: -100px;
            bottom: -40px;
            animation: cloudLoading 5s linear infinite;
        }

        /* .cloud2 {
            position: absolute;
            width: 600px;
            right: -100px;
            top: 290px;
            animation: cloudLoading 5s linear infinite;
            animation-delay: 0.3s;
        } */
    }

    .weather_area {
        height: 250px;
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        >i {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 3em;
            color: #222;
        }

        .weather_desc {
            text-align: center;
            width: 100%;
            position: relative;
            color: #222;
            display: grid;
            place-content: center;

            h2 {
                margin: 10px 0;
                font-size: 3.8em;

                span {
                    display: block;
                    font-size: 1.6em;
                    margin-top: 10px;
                }
            }

            p {
                padding-top: 20px;
                padding-left: 8px;
                font-weight: 500;
                margin: 0;
                font-size: 1.8em;
            }
        }

        .btn_area {
            transform: translateY(20px);
            color: #555;

            p {
                font-size: 1.4em;
                margin: 0;
                margin-top: 10px
            }

            i {
                font-size: 3em;
                animation: arrow 3s linear infinite;
                cursor: pointer;
            }
        }
    }
}


@keyframes cloudLoading {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        transform: translateX(40px);
    }
}

@keyframes arrow {

    0%,
    100% {
        opacity: 1;
        transform: translateY(0);
    }

    50% {
        opacity: 1;
        transform: translateY(20px);
    }
}