.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.loading img {
    display: inline-block;
    width: 120px;
    height: 120px;
    animation: loading 2s ease-in-out infinite;
    margin: 8px;
}


@keyframes loading {

    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        transform: translateX(30px);
    }
}

.logo_area {
    background-color: #e5f6fc;
    height: 250px;
    width: 100%;
    display: grid;
    place-content: center;
    position: relative;
}

.logo_area img {
    width: 450px;
}

.cloud1 {
    position: absolute;
    left: -100px;
    bottom: -40px;
    animation: cloudLoading 5s linear infinite;
}

.cloud2 {
    position: absolute;
    right: -100px;
    bottom: -100px;
    animation: cloudLoading 5s linear infinite;
    animation-delay: 0.3s;
}

@keyframes cloudLoading {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        transform: translateX(40px);
    }
}

.main {
    margin-top: 60px;
    /* border: 1px solid #000; */
    background: url(../images/background.png) no-repeat center center;
    background-size: cover;
    background-position: 0 50px;
    height: 96vh;
    position: relative;
}

.weather {
    height: 250px;
    position: absolute;
    top: 47%;
    left: 50%;
    /* border: 1px solid #000; */
    transform: translate(-50%, -50%);
    text-align: center;
}

.weather .weather_icon {
    position: absolute;
    top: 0;
    right: 0;
}

.weather .weather_icon i {
    font-size: 3em;
    color: #222;
}

.weather button {
    width: 250px;
    padding: 13px;
    border: none;
    margin-top: 30px;
    background-color: #333;
    color: #fff;
    font-size: 1.3em;
    border-radius: 2px;
    cursor: pointer;
    box-sizing: border-box;
    letter-spacing: 2px;
}

.weather_desc {
    text-align: center;
    width: 100%;
    position: relative;
    color: #222;
    display: grid;
    place-content: center;
}

.weather_desc h2 {
    font-size: 2em;
    margin: 0;
}

.weather_desc .today {
    margin: 10px 0;
    font-size: 3em;
}

.weather_desc .today span {
    display: block;
    font-size: 1.6em;
}

.weather_loc {
    padding-top: 20px;
    padding-left: 8px;
    font-weight: 500;
    margin: 0;
    font-size: 1.5em;
}

.weather .btn_area {
    transform: translateY(20px);
    color: #555;
}

.weather .btn_area p {
    font-size: 1.4em;
    margin: 0;
    margin-top: 10px
}

.weather .btn_area i {
    font-size: 3em;
    animation: arrow 3s linear infinite;
    cursor: pointer;
}

@keyframes arrow {

    0%,
    100% {
        opacity: 1;
        transform: translateY(0);
    }

    50% {
        opacity: 1;
        transform: translateY(20px);
    }
}