.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;

    img {
        display: inline-block;
        width: 120px;
        height: 120px;
        animation: loading 2s ease-in-out infinite;
        margin: 8px;
    }
}

@keyframes loading {

    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        transform: translateX(30px);
    }
}