/* Loading SCSS */
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;

    img {
        display: inline-block;
        width: 120px;
        height: 120px;
        animation: loading 2s ease-in-out infinite;
        margin: 8px;
    }
}

@keyframes loading {

    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        transform: translateX(30px);
    }
}

/* Home.js Container Common */
@mixin container {
    font-family: 'Noto Sans KR', sans-serif;
    width: 80%;
    margin: auto;
    margin-top: 130px;

    h1 {
        text-align: left;
        font-size: 35px;
        position: relative;

        span {
            float: right;
            font-size: 17px;
            color: #555;
            font-weight: normal;
            cursor: pointer;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}

/* 오늘 뭐입지? */
.recommend_style {
    @include container();

    .img_container {
        background-color: #fff;
        height: 580px;
        transition: 0.35s;

        &:hover {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            transform: translateY(-15px);
        }

        img {
            width: 100%;
            height: 500px;
            padding: 20px;
        }

        >button {
            border: 1px solid #000;
            outline: none;
            border: none;
            display: block;
            width: 75%;
            margin: auto;
            padding: 10px;
            margin-top: 10px;
            border-radius: 3px;
            cursor: pointer;
            font-size: 17px;
            background-color: #8fc7ff;
            color: #fff;
            font-weight: bold;
        }
    }

}


/* 오늘 날씨 어때요? */
.todays_weather_cmnty {
    @include container();

    table {
        background-color: rgba(255, 255, 255, 0.582);
        border-radius: 5px;
        width: 100%;
        font-size: 18px;
        border-spacing: 0;
        text-align: center;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.11);

        caption {
            display: none;
        }

        th {
            border-bottom: 1px solid #e5f6fc;
            padding: 15px;
        }

        tr {
            border-bottom: 1px solid #e5f6fc;

            &:hover {
                background-color: #e5f6fc;
            }
        }

        td {
            padding: 15px 0;

            span {
                display: inline-block;
                border-radius: 20px;
                background-color: #8fc7ff;
                padding: 5px 20px;
                color: #fff;
            }

            a {
                position: relative;
                display: inline-block;
            }
        }
    }
}