.todays_weather_cmnty {
    font-family: 'Noto Sans KR', sans-serif;
    width: 80%;
    margin: auto;
    margin-top: 60px;

    h1 {
        text-align: left;
        font-size: 35px;
        position: relative;

        span {
            float: right;
            font-size: 17px;
            color: #555;
            font-weight: normal;
            cursor: pointer;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    table {
        background-color: rgba(255, 255, 255, 0.582);
        border-radius: 5px;
        width: 100%;
        font-size: 18px;
        border-spacing: 0;
        text-align: center;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.11);

        caption {
            display: none;
        }

        th {
            border-bottom: 1px solid #e5f6fc;
            padding: 15px;
        }

        tr {
            border-bottom: 1px solid #e5f6fc;

            &:hover {
                background-color: #e5f6fc;
            }
        }

        td {
            padding: 15px 0;

            a {
                position: relative;

                &.new::after {
                    content: 'N';
                    position: absolute;
                    top: 50%;
                    right: -25px;
                    transform: translateY(-50%);
                    background-color: #74b9ff;
                    width: 18px;
                    height: 18px;
                    color: #fff;
                    font-size: 11px;
                    border-radius: 3px;
                }
            }
        }

    }
}