@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');



header {
    width: 100%;
    height: 60px;
    /* overflow: hidden; */
    /* background: linear-gradient(to bottom, #B9E2FA, #e5f6fc); */
    background-color: #363636;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;

    .header_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: inherit;
        width: 85%;
        margin: auto;

        img {
            width: 125px;
            height: 30px;
            cursor: pointer;
        }

        i {
            font-size: 1.8em;
            color: #fff;
            vertical-align: middle;
            cursor: pointer;
        }
    }
}

/* .text_box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100px);
}

svg text {
    font-family: 'Pacifico', cursive;
    font-size: 8em;
    fill: transparent;
    stroke-dasharray: 326px;
    animation: stroke 1s linear;
    animation-fill-mode: forwards;
}

svg text:nth-child(1) {
    animation-delay: 0s;
}

svg text:nth-child(2) {
    animation-delay: 0.3s;
}

svg text:nth-child(3) {
    animation-delay: 0.6s;
}

svg text:nth-child(4) {
    animation-delay: 0.9s;
}

svg text:nth-child(5) {
    animation-delay: 1.3s;
}

svg text:nth-child(6) {
    animation-delay: 1.6s;
}

svg text:nth-child(7) {
    animation-delay: 1.9s;
}

svg text:nth-child(8) {
    animation-delay: 2.3s;
}

svg text:nth-child(9) {
    animation-delay: 2.6s;
}

svg text:nth-child(10) {
    animation-delay: 2.9s;
}

@keyframes stroke {
    0% {
        stroke: #fff;
        stroke-width: 3px;
        stroke-dashoffset: 326px;
    }

    70% {
        fill: transparent;
    }

    98% {
        stroke: #fff;
        stroke-width: 3px;
    }

    100% {
        fill: #fff;
        stroke-dashoffset: 0px;
    }
} */

/* header h1 {
    width: 10ch;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 9em;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}
 */